*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.pdf
*.toc
*.cjk
*.docx
*.dvi
*.nav
*.snm
Slides/presentation.bcf
Slides/presentation.run.xml
Slides/presentation.bbl-SAVE-ERROR
Slides/presentation.bcf-SAVE-ERROR
